.nav__list {
  display: flex;
  gap: 0 24px;
  align-items: center;

  @media screen and (max-width: 940px) {
    justify-content: center;
  }

  @media screen and (max-width: 690px) {
    position: absolute;
    flex-direction: column;
    gap: 24px 0;
    padding: 32px 16px;
    background-color: #323941;
    color: #fff;
    border-radius: 8px;
    z-index: 3;
    left: 16px;
  }

  &-mobile {
    transform: translateY(-200%);
    transition: 0.3s;
  }

  &-active {
    transform: translateY(45px);
    animation: navBounce 0.3s linear 1;
    transition: 0.3s;
  }
}

@keyframes navBounce {
  0% {
    transform: translateY(-200%);
  }

  20% {
    transform: translateY(35px);
  }

  40% {
    transform: translateY(55px);
  }

  60% {
    transform: translateY(40px);
  }

  80% {
    transform: translateY(50px);
  }
  
  100% {
    transform: translateY(45px);
  }
}
