.nav__list {
  display: flex;
  gap: 0 24px;
  align-items: center;

  @media screen and (max-width: 940px) {
    justify-content: center;
  }

  @media screen and (max-width: 690px) {
    position: absolute;
    flex-direction: column;
    gap: 24px 0;
    padding: 32px 16px;
    background-color: #323941;
    color: #fff;
    border-radius: 8px;
    z-index: 3;
    top: 70px;
    left: 16px;
  }
}
