.header {
  &__top {
    padding: 13px 0;
    color: #fff;
    background-color: #323941;
  }

  &__inner {
    display: flex;
    gap: 0 10px;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 940px) {
      flex-direction: column;
      justify-content: center;
      gap: 20px 0;
    }

    @media screen and (max-width: 690px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .nav {
    @media screen and (max-width: 940px) {
      width: 100%;
    }
  }
}
