@font-face {
    font-family: 'Proxima Nova Light';
    src: url('./fonts/proxima_nova_light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('./fonts/proxima_nova_regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('./fonts/proxima_nova_semibold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('./fonts/proxima_nova_bold.woff2') format('woff2');
    font-display: swap;
}